* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.calculator {
  width: 400px;
  display: flex;
  color: black;
  padding: 0.5rem;
  border-radius: 10px;
  flex-direction: column;
  background-color: #c0c0c0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#operations {
  padding: auto;
  text-align: right;
  background-color: whitesmoke;
  margin: 0.2rem 0 0.8rem 0;
}

#previous-operation,
#current-operation {
  padding: 0.2em;
  min-height: 1.6em;
  overflow-wrap: break-word;
}

#previous-operation {
  color: #777;
}

#current-operation {
  font-size: 3em;
  font-weight: 700;
}

#button-container {
  gap: 3px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#button-container button {
  height: 2em;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid;
  border-radius: 0.2rem;
  background-color: white;
}

#button-container #del-button {
  color: white;
  background-color: rgb(204, 38, 38);
}

#button-container #equal-button {
  height: auto;
  color: white;
  grid-row: span 2;
  grid-column: span 1; /* Ocupa duas colunas */
  background-color: rgb(15, 156, 15);
}

#button-container button:hover {
  border-color: #999;
  background-color: #bababa;
}
